* {
  font-size: 1rem;
}

body {
  background-color: #1e0b01;
  background-color: hsl(21, 93%, 6%);
  background-image: url("img/violin-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  height: 100vh;
}

/* MEDIA QUERY - BACKGROUND
@media only screen (max-device-width: 480px) {
  body {
    background-color: #1e0b01;
    background-color: hsl(21, 93%, 6%);
  }

    @media (max-width: 767px) {
    .navbar > .container {
      display: block;
    }
    .navbar-header {
      display: flex;
      align-items: center;
    }
    .navbar{
      height: auto;
      }
  }


} */



/* NAV BAR */
header {
  font-size: 2rem;
  margin-right: auto;
  margin-left: auto;
}

/*flex parent*/
#navbar {
  display: flex;
  background-color: #f5f5f5;
  background-color: hsla(0, 100%, 100%, 0.85);
  max-width: 90%;
  height: 80px;
  align-items: right;
  }
  
  .navbar-items {
  align-items: flex-end;
  margin-left: auto;
  }

  .navbar-brand img{
  height:3rem;
  align-items: flex-start;
  margin-right: 1em;
  }
  
  .navbar-brand {
    height: auto !important;
  }
  
  .navbar-toggle {
    margin-left: auto;
    order: 2;
  }
  



/*FLEX - PARENT
nav {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  width: 90%;
  min-height: 2.75rem;
  padding: 0 1rem;
}

/*FLEX - CHILD
.nav-logo {
  background-color: palevioletred;
  max-height: 100%;
  max-width: auto;
  justify-content: flex-start;
  margin-right: 1rem;
}
.nav-logo-img {
  max-height: 100%;
}

/*FLEX - CHILD
.nav-item {
  background-color: blue;
  justify-content: flex-end;
  text-decoration: none;
  margin-left: auto;
}
*/

/*UL - NAV UNORDERED LIST*/
/*
.nav-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
}
flex1 child*
.nav-list li {
  flex-grow: 1;
  flex-shrink: 1; /*default for flex
}
.nav-list a {
  text-decoration: none;
}
.nav-list a:hover {
  text-decoration: underline;
}
*/





/* MAIN BODY OF SITE*/
.wrapper {
  background-color: #f5f5f5;
  background-color: hsla(0, 100%, 100%, 0.85);
  max-width: 90%;
  padding: 1em;
  margin-right: auto;
  margin-left: auto;
  margin-top: 1em;
}

div .video {
  display: flex;
  flex-direction: row;
}

.video {
  display: flex;
  justify-content: center;
  max-width: 40rem;
}

.video iframe {
  flex-grow: 2;
  width: 100%    !important;
  height: auto   !important;
}

.video div {
  flex-grow: 0;
}
