/*
@font-face {
  font-family:"Aguafina Script" ;
  src: url(https:///fonts.googleapis.com/css?family=Aguafina+Script);
}
*/

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #1e0b01;
  background-color: hsl(21, 93%, 6%);
  background-image: url("img/violin-background.jpg");
  background: linear-gradient(hsla(0, 0%, 0.4) 0, hsla(0, 0%, 0%, 0.4)100%);  
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  height: 100vh;
}

header {
  position: sticky;
  top: 0rem;
}










/* NAV BAR */
/*flex parent*/
#nav-bar {
  display: flex;
  position: sticky;
  background-color: #000000;
  background-color: hsla(0, 0%, 0%, 0.45);
  max-width: 90%;
  height: 80px;
  align-items: right;
  margin-right: auto;
  margin-left: auto;
  padding: 1em;
  margin-top: 1em;
  color: wheat;
  }
  
  .navbar-items {
  align-items: flex-end;
  margin-left: auto;
  justify-content: space-between;
  font-size: 1rem;
  }
  @media (max-width: 450px) {
    .navbar-items {
      font-size: 1em;
    }
  } 

  .navbar-items a {
    text-decoration: none;
    color: wheat;
    padding-right: 1em;
  }

  .navbar-items a:hover {
    text-decoration: underline;
  }

  .navbar-brand img{
  height:3rem;
  align-items: center;
  justify-content: center;
  margin-right: 1em;
  }

  #header-img {
    margin-top: auto;
    margin-bottom: auto;
  }
  
  .navbar-brand {
    height: auto !important;
  }
  
  .navbar-toggle {
    margin-left: auto;
    order: 2;
  }
  




/* INTRO SECTION */
.intro {
  background-color: #000000;
  background-color: hsla(0, 0%, 0%, 0.45);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
  max-width: 50%;
  margin-top: 1rem;
  color: #f5f5f5 ;
  color: hsla(0, 0%, 100%, 0.92);
  font-size: 2em;
  font-family: 'Aguafina Script'; font-size: 24px; font-weight: 700; 
}

.intro h1 {
  max-width: 90%;
  max-height: fit-content;
}


/* MAIN BODY OF SITE*/
.wrapper {
  background-color: #f5f5f5;
  background-color: hsla(0, 100%, 100%, 0.85);
  max-width: 90%;
  padding: 1em;
  margin-right: auto;
  margin-left: auto;
  margin-top: 20px;

}

div .video {
  display: flex;
  flex-direction: row;
}

.video {
  display: flex;
  justify-content: center;
  max-width: 40rem;
}

.video iframe {
  flex-grow: 2;
  width: 100%    !important;
  height: auto   !important;
}

.video div {
  flex-grow: 0;
}




/* FONT PREFRENCES */

/*
p { font-family: Aguafina Script; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 20px; } 
blockquote { font-family: Aguafina Script; font-size: 21px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 30px; } 
pre { font-family: Aguafina Script; font-size: 13px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 13px; }
*/








/* MEDIA QUERY - BACKGROUND
@media only screen (max-device-width: 480px) {
  body {
    background-color: #1e0b01;
    background-color: hsl(21, 94%, 6%);
  }
}
  
  @media (max-width: 767px) {
    header > #header {
    display: block;
    }
    nav > #nav-bar {
      display: flex;
      align-items: center;
    }
    .navbar-brand {
      height: auto;
      }
    .navbar-items {
      height: auto;
    }
  } 
*/




/*FLEX - PARENT
nav {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  width: 90%;
  min-height: 2.75rem;
  padding: 0 1rem;
}

/*FLEX - CHILD
.nav-logo {
  background-color: palevioletred;
  max-height: 100%;
  max-width: auto;
  justify-content: flex-start;
  margin-right: 1rem;
}
.nav-logo-img {
  max-height: 100%;
}

/*FLEX - CHILD
.nav-item {
  background-color: blue;
  justify-content: flex-end;
  text-decoration: none;
  margin-left: auto;
}
*/

/*UL - NAV UNORDERED LIST*/
/*
.nav-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
}
flex1 child*
.nav-list li {
  flex-grow: 1;
  flex-shrink: 1; /*default for flex
}
.nav-list a {
  text-decoration: none;
}
.nav-list a:hover {
  text-decoration: underline;
}
*/

