body {
  background-color: #1e0b01;
  background-color: hsl(21, 93%, 6%);
  background-image: url("img/violin-background.jpg");
  background-repeat: no-repeat;
  background-repeat: scroll;
  background-position: center center;
  background-size: 120%;
}

/* MEDIA QUERY - BACKGROUND
@media only screen (max-device-width: 480px) {
  body {
    background-color: #1e0b01;
    background-color: hsl(21, 93%, 6%);
  }
} */



/* NAV BAR */
nav {
  position: sticky;
  display: flex;
  flex-direction: row;
}

.header-img {
  max-width: 1em;
  max-height: auto;
}



/* MAIN BODY OF SITE*/
section {
  background-color: #f5f5f5;
  background-color: hsla(0, 100%, 100%, 0.85);
  max-width: 90%;
  padding: 1em;
  margin-right: auto;
  margin-left: auto;
  margin-top: 1em;
}

section .video {
  display: flex;
  flex-direction: row;

}

.video {
  display: flex;
  justify-content: center;
  max-width: 40rem;
}

.video iframe {
  flex-grow: 2;
  width: 100%    !important;
  height: auto   !important;
}

.video div {
  flex-grow: 1;
}
